<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/styles.css"></link>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="login-container">
            <h3 class="login-title"> Sign Up </h3>
            <form action="/teamates" method="POST">
                <div class="input-group">
                        <label> Email </label>
                        <input type="email" name="email" id="email" required>
                </div>
                <p></p>
                <div class="input-group">
                    <label> country / location :</label>
                    <select id="kuntry" style="margin-right:0px; width:350px;" name="country">
                        <option value="--Select a Country--"> --Select a Country-- </option>
                    </select>   
                </div>
                <p></p>
                <div class="input-group">
                    <label> Password </label>
                    <input type="password" name="password" required>
                </div>
                <p></p>
                    <div class="input-group">
                        <label>Confirm Password </label>
                        <input type="password" name="confirmpass" required>
                    </div>
                    <p></p>
                    <button type="submit" class="login-button"> sign up </button>
            </form>

        </div>
        {{>footer}}
    </div>    

    
</body>
</html>