<header>
    <h1> {{title}} </h1>

    <div>
        <a href="/"> Home </a>
        <a href="/about"> About </a>
        <a href="/login"> login </a>
        <a href="/signup"> Sign up </a>
        <a href="/enterdata"> Information </a>
        <a href="/chat"> Chat </a>
        <a href="/react"> React </a>
        <a href="/help"> Help </a>
    </div>

</header>